# Binaries
bin/
*.exe
bee

# Zed specific
.agents

# Go specific
*.test
*.out
*.log

# Dependency directories
vendor/

# Environment files
.env
.DS_Store

# IDE specific
.idea
.vscode
*.swp
*.swo

# Project specific
web/
