# Binaries
bin/
*.exe
bee


# Go specific
*.test
*.out
*.log

# Dependency directories
vendor/

# Environment files
.env
.DS_Store

# IDE specific
.idea
.vscode
*.swp
*.swo

# Project specific
web/

# Test results
test/output/
test/status/
test/critical/
