# Binaries
bin/
*.exe
bee

# Go specific
*.test
*.out
*.log

# Dependency directories
vendor/

# Environment files
.env
.DS_Store

# IDE specific
.idea
.vscode
*.swp
*.swo

# Project specific
# doc/ (Now moved to manual/ref)
